* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    #root {
        height: 50%;
    }

}

.app-container {
    width: 50%;
    height: 100%;
    transform: translateX(50%) translateY(20%);
}