* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    #root {
        height: 50%;
    }

    background-color: #dadce0;

}

.app-container {
    width: 30%;
    height: 100%;
    text-align: center;

    margin-top: 100px;
    margin-inline: auto;

    border: 1px solid grey;

    .send-mail-form {
        height: 30%;
        padding: 16px 20px;

        input {
            width: 100%;
        }
    }
}